/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 199 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 199 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 199 84% 4.9%;
    --primary: 199 83.2% 53.3%;
    --primary-foreground: 199 40% 98%;
    --secondary: 199 40% 96.1%;
    --secondary-foreground: 199 47.4% 11.2%;
    --muted: 199 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 199 40% 96.1%;
    --accent-foreground: 199 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 199 40% 98%;
    --border: 199 31.8% 91.4%;
    --input: 199 31.8% 91.4%;
    --ring: 199 83.2% 53.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 199 84% 4.9%;
    --foreground: 199 40% 98%;
    --card: 199 84% 4.9%;
    --card-foreground: 199 40% 98%;
    --popover: 199 84% 4.9%;
    --popover-foreground: 199 40% 98%;
    --primary: 199 91.2% 59.8%;
    --primary-foreground: 199 47.4% 11.2%;
    --secondary: 199 32.6% 17.5%;
    --secondary-foreground: 199 40% 98%;
    --muted: 199 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 199 32.6% 17.5%;
    --accent-foreground: 199 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 199 40% 98%;
    --border: 199 32.6% 17.5%;
    --input: 199 32.6% 17.5%;
    --ring: 199 76.3% 48%;
  }
}
