---
// Ribbon based on CSSOnly Ribbon https://www.freecodecamp.org/news/make-a-css-only-ribbon/
import ThemeIcon from './ThemeIcon.astro';

interface Props {}

const {} = Astro.props;
---

<header class="gap-2 bg-primary-foreground p-2 text-foreground">
  <nav class="flex flex-row">
    <a href="/" aria-label="Logo, Go to homepage"> </a>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-6 w-6 sm:hidden"
    >
      <path
        fill-rule="evenodd"
        d="M3 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 5.25Zm0 4.5A.75.75 0 0 1 3.75 9h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 9.75Zm0 4.5a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Zm0 4.5a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
        clip-rule="evenodd"></path>
    </svg>

    <ul class="flex-grow">
      <li>
        <a href="/" aria-label="Go to homepage" class="">Home</a>
      </li>
      <li><a href="/resume" aria-label="Go to resume page">Resume</a></li>
    </ul>

    <ThemeIcon />
  </nav>
</header>
