---
import { t } from 'astro-i18n';
import { Icon } from 'astro-icon/components';

import CornerRibbon from './CornerRibbon.astro';
---

<CornerRibbon side="right" class="hover:bg-yellow-600 hover:shadow-yellow-600">
  <a
    href="https://github.com/luchillo17/graph-meister-public"
    target="_blank"
    rel="nofollow noopener noreferrer"
    aria-label="View Github portfolio repository"
    class="flex gap-2"
  >
    {t('wip_github')}

    <Icon name="github-mark" title="GitHub icon" class="size-7" />
  </a>
</CornerRibbon>
