---
import { t } from 'astro-i18n';

import Card from '../components/Card.astro';
import CornerRibbon from '../components/CornerRibbon.astro';
import Layout from '../layouts/Layout.astro';
import WIPRibbonGithub from '../components/WIPRibbonGithub.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <WIPRibbonGithub />
  </main>
</Layout>

<style></style>
