---
import '../base.css';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="size-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="grid size-full bg-background">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    grid-template-rows: auto 1fr auto;
  }
</style>
